#%Module 1.0
#
# GCC-9 from devtoolset
# 
#
prepend-path    INFOPATH        /opt/rh/devtoolset-9/root/usr/share/info
prepend-path    LD_LIBRARY_PATH /opt/rh/devtoolset-9/root/usr/lib64:/opt/rh/devtoolset-9/root/usr/lib:/opt/rh/devtoolset-9/root/usr/lib64/dyninst:/opt/rh/devtoolset-9/root/usr/lib/dyninst:/opt/rh/devtoolset-9/root/usr/lib64:/opt/rh/devtoolset-9/root/usr/lib
prepend-path    MANPATH /opt/rh/devtoolset-9/root/usr/share/man:
prepend-path    PATH    /opt/rh/devtoolset-9/root/usr/bin
prepend-path    PKG_CONFIG_PATH /opt/rh/devtoolset-9/root/usr/lib64/pkgconfig
setenv          PCP_DIR /opt/rh/devtoolset-9/root
